#Data Science Tools and Ecosystem

###In this notebook, Data Science Tools and Ecosystem are summarized.

#Objectives:


*   Popular Languages
*   Common Libraries
*   Data Science Tools
*   Arithmetic Expressions

##Author:
Gavin Huang

Some of the popular languages that Data Scientists use are:


1.   Python
2.   SQL
3.   R
4.   Julia
5.   Scala

Some of the commonly used libraries used by Data Scientists include:



1.   matplotlib
2.   scikit learn
3.   ggplot
4.   numpy
5.   plotly
6.   pytorch

| Data Science Tools |
|--------------------|
| RStudio            |
| Apache Spark       |
| Apache Hadoop      |

Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
#this is a simple arithmetic expression to multiply then add integers
print(3*4+5)

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60
print(200/60)

3.3333333333333335